**/.pytest_cache
**/__pycache__
/backend/app/settings/development.py
/backend/app/settings/test.py
/backend/upload

/backend/shell.py

/frontend/node_modules
/frontend/.fusebox
/frontend/build
/frontend/docs
**/.DS_Store

/testing/node_modules
/testing/cypress/videos
/public
/.idea
